<!DOCTYPE html>
<html>
<head>
	<title>Tranvia | Caracas</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link  rel = "shortcut icon"  href = "images/favicon.ico"  type = "image / x-icon" > 
	<link  rel = "icono"  href = "images/favicon.ico"  type = "image / x-icon" >
	<script type="text/javascript" src="script.js"></script>
	
	
</head>

<body>
	
	
	
	