<%- include ('../partials/nav')%>

<header class="header_index" align="center" >
	<center>
		<section class="titulo_cabecera" >
	
			<img src="images/logo.png"  alt="vemaki"  />
		</section>
	</center>	
</header>
<nav class="nav">
	<div class=""><a href="nosotros"><h2>Bebidas</h2></a></div>
	<div class=""><a href="oferta"><h2>Platos</h2></a></div>
	<div class=""><a href="contact"><h2>Postres</h2></a></div>
	<div class=""><a href="contact"><h2>Delivery</h2></a></div>

</nav>

<section class="tranvia">
	<center>
		<img src="images/tranvia.png" />
	</center>
</section>
 

<%- include ('../partials/footer')%>